*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "mulish";
}

body{
    padding: 90px 20px 0 ;
}

.header{
    background-color: #0769e9;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;


}


.nav{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    height: 40px;



}

.nav-menu-link{
    color: white;
    list-style: none;
    text-decoration: none;
}

.logo{

    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    text-decoration: none;
    color: white;
    margin-right: 40px;
    

}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    
    text-transform: uppercase;
    width: max-content;
}


.nav-menu-link{
    padding: 8px 12px;
    border-radius: 5px;
}

.nav-menu-link:hover{
    background-color: #034574;
   


}

.toggle{

    background: none;
    border: none;
    color: white;
    font-size: 30px;
    padding: 0 20px;
    display: none;
    
}





@media(max-width:768px){

    

    .nav-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        height: calc(100% - 80px);
        width: 100%;
        background-color: #2c3e50;
        position: fixed;
        left: 0;
        top: 80px;
        overflow-y: auto;
    
        left: 100%;
        transition: left 0.3s;
    
    
    }

    .nav-menu-item{
        line-height: 70px;
        margin-top: 20px;
    }

   .toggle{
       display: block;
   }

   .nav-menu_visible{

    left: 0;
   }
}