*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "mulish";
}

body{
    padding: 90px 20px 0 ;
}

.header{
    background-color:#2c3e50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 19%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;


}


.nav{
    width: 90%;
    
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.nav-menu{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    



}

.nav-menu-link{
    color: white;
    list-style: none;
    text-decoration: none;
}



.nav-menu-item{
    font-size: 18px;

    margin-top: 20px;
    
    text-transform: uppercase;
    width: max-content;
}


.nav-menu-link{
    padding: 8px 12px;
    border-radius: 5px;
    position: relative;
}


.nav-menu-link::after{
    content: "";
    width: 70%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 20px;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .25s ease;
}


.nav-menu-link:hover::after{
    transform: scaleX(1);
   


}

.toggle{

    background: none;
    border: none;
    color: white;
    font-size: 30px;
    padding: 0 ;
    display: none;
    
}




.about-container{
    width: 81%;
    float: right;
}

.about-content{
    width: 90%;
    margin: 0 auto;
    height: 90vh;
    border-bottom: 1px solid gray;
}


.about-title{
    font-size: 90px;


}

.about-paragraph{

    margin-top: 30px;
    margin-bottom: 30px;
}

@media(max-width:768px){

    
    .header{
        background-color:#2c3e50;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80px;
        position: fixed;
        top: 0;
        left: 0;
    
    
    }

    .nav{
        width: 100%;
        margin-left: 90%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        
    }

    .nav-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        height: calc(100% - 80px);
        width: 100%;
        background-color: #2c3e50;
        position: fixed;
        left: 0;
        top: 80px;
        overflow-y: auto;
    
        left: 100%;
        transition: left 0.3s;
    
    
    }

    .nav-menu-item{
        line-height: 70px;
        margin-top: 20px;
    }

   .toggle{
       display: block;
   }

   .nav-menu_visible{

    left: 0;
   }

   .nav-menu-link{
    padding: 8px 12px;
    border-radius: 5px;
    
}

.nav-menu-link::after{
    display: none;
}
 
.about-container{
    width: 100%;
    
}

.about-content{
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    border-bottom: 1px solid gray;
}




}