
:root{
    --primary-color:#2c3e50;
}


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "mulish";
}

body{
    padding: 90px 20px 0 ;
}

.header{
    background-color:#2c3e50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 19%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;


}


.nav{
    width: 90%;
    
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.nav-menu{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    



}

.nav-menu-link{
    color: white;
    list-style: none;
    text-decoration: none;
}



.nav-menu-item{
    font-size: 18px;

    margin-top: 20px;
    
    text-transform: capitalize;
    width: max-content;
}


.nav-menu-link{
    padding: 8px 12px;
    border-radius: 5px;
    position: relative;
}


.nav-menu-link::after{
    content: "";
    width: 70%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 20px;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .25s ease;
}


.nav-menu-link:hover::after{
    transform: scaleX(1);
   


}

.toggle{

    background: none;
    border: none;
    color: white;
    font-size: 30px;
    padding: 0 ;
    display: none;
    
}




.about-container{
    width: 81%;
    float: right;
    
}

.about-content{
    width: 90%;
    margin: 0 auto;
    height: auto;
    border-bottom: 1px solid gray;
}


.about-title{
    font-size: 90px;
    font-weight: 500;
    font-family: 'Saira Condensed', sans-serif;

}
.about-content h2{
    font-size: 30px;
    font-weight: 300;
    color: var(--primary-color);
}

.about-paragraph{

    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 25px;
}


.about-items-container{

    margin-top: 60px;
    margin-bottom: 50px;
}

.about-items-container a{

 font-size: 60px;
 margin-right: 20px;



}




.about-items-container .bxl-github{
    color: gray;
}

.about-items-container .bxl-github{

    font-size: 50px;
    color: black;
}



.skills-container{

    width: 90%;
    margin: 0 auto;
    height: 500px;
    border-bottom: 1px solid gray;
}




.skills-items-container{


    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    height: 300px;
    display: grid;
    justify-content: center;
    gap: 10px;
    grid-template-columns: repeat(7,130px);
    grid-template-rows: auto;
    place-items: center;
}

.skills-title{

    margin-top: 20px;
    font-size: 30px;

}


.skills-items-container i {

    font-size: 80px;
}

.item-container{

text-align: center;
background: #2c3e50;
border-radius: 5px;
width: 100%;
padding: 10px 10px;
color: white;
box-shadow: 0 3px 10px gray;
}

.bxl-html5{

    color: #e1492b;
}

.bxl-css3{
    color: #2173f7;
}

.bxl-javascript{
    color: yellow;
}


.bxl-react{

    color: #5ed3f3;
}

.bxl-tailwind-css{

    color: #38bdf8;
}

.bxl-sass{
    color:#c76494;
}


.bxl-git{
    color:#e84e31;
}

.education-container{
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid var(--primary-color);
}



.proyect-container{
    width: 90%;
    margin: 0 auto;
    height: auto;

}


.proyect-title{
    margin-top: 20px;
    font-size: 30px;
}

.proyect-items-container{
    margin-top: 20px;
    display: grid;
    justify-content: center;
    place-items:center;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(2,270px);
    row-gap: 40px;
    column-gap: 30px;
    overflow: hidden;
    padding-bottom :20px; ;
}

.proyect-item-container{
    height: 270px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 1px 3px;
    overflow: hidden;
}

.proyect-item-container a {
    display: block;
    height: 100%;
    color: black;
    
    padding: 5px;
    text-decoration: none;
    font-size: 14px;

}

.proyect-item-container a:hover {
    color: white;
    background-color: var(--primary-color);
    transition: 0.5s;
}



.proyect-item-container img{
    width: 200px;
    height: 220px;
}

.education-container .education-title{
    margin-top: 20px;
    font-size: 30px;
    
    
}

.education-items-container{

    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    overflow: hidden;
    justify-content: space-between;

}

.education-items-container img{
    width: 250px;
    height:100px;

}


.education-items-container .logo-sena{

    width: 200px;
    height: 200px;
}



.contact-container{


    width: 90%;
    height: 300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contact--container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 60%;
    
   
    border-radius: 10px;
}

.contact--container-left .contact--title{

    margin-bottom: 20px;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 40px;
  
}



.contact-inputs{

    display: flex;
    flex-direction: column;
}


.contact--container-left .bxl-linkedin-square{
    color: gray;
    font-size: 40px;
}

.contact--container-left .bxl-linkedin-square:hover{
    color:#0a66c2;
}


@media(max-width:768px){

    
    .header{
        background-color:#2c3e50;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80px;
        position: fixed;
        top: 0;
        left: 0;
    
    
    }

    .nav{
        width: 100%;
        margin-left: 90%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        
    }

    .nav-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        height: calc(100% - 80px);
        width: 100%;
        background-color: #2c3e50;
        position: fixed;
        left: 0;
        top: 80px;
        overflow-y: auto;
    
        left: 100%;
        transition: left 0.3s;
    
    
    }

    

   .toggle{
       display: block;
   }

   .nav-menu_visible{

    left: 0;
   }

   .nav-menu-link{
    padding: 8px 12px;
    border-radius: 5px;
    
}

.nav-menu-link::after{
    display: none;
}
 
.about-container{
    width: 100%; 
}

.about-content{
    width: 90%;
    min-width: 300px;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 30px;
    border-bottom: 1px solid gray;
}

.about-title{
    font-size: 50px;


}

.skills-items-container i {

    font-size: 60px;
}


.skills-items-container{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    height: 300px;
    display: grid;
    justify-content: center;
    gap: 5px;
    grid-template-columns: repeat(2,150px);
    grid-template-rows: repeat(3,1fr);
    place-items: center;
}

.education-items-container img{
    width: 125px;
    height:50px;

}

.education-items-container .logo-sena{

    width: 100px;
    height: 100px;
}

.proyect-items-container{
    margin-top: 20px;
    display: grid;
    justify-content: center;
    place-items:center;
    grid-template-columns: repeat(1,200px);
    grid-template-rows: repeat(3,270px);
    row-gap: 40px;
    column-gap: 30px;
    overflow: hidden;
}}